<!-- views/events-new.handlebars -->

<form method="POST" action="/events">
  <fieldset>
    <legend>New Event</legend>
    <!-- TITLE -->
    <p>
      <label for="title">Title</label><br>
      <input type="text" name="title" />
    </p>
    <p>
      <label for="imgUrl">Image Url</label><br>
      <input type="text" placeholder="" name="imgUrl" />
    </p>
    <p>
      <label for="takesPlaceOn">Date</label><br>
      <input type="date" placeholder="" name="takesPlaceOn" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Event</button>
  </p>

</form>